@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    font-family: "Roboto Mono", Arial, Helvetica;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

* {
    margin: 0;
    padding: 0;
}

main.page-container {
    margin: 0 auto;
    width: 90%;
    max-width: 1280px;
}

button.button-theme {
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    padding: 1.25em 2em;
    background: #DD571C;
    border: 1px solid white;
    border-radius: 0.75em;
    transform-style: preserve-3d;
    transition: transform 100ms cubic-bezier(0, 0, 0.58, 1),
                background 100ms cubic-bezier(0, 0, 0.58, 1);
    -webkit-tap-highlight-color: transparent;
}

button.button-theme::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #903812;
    border-radius: inherit;
    transform: translate3d(0, 0.75em, -1em);
    transition: transform 100ms cubic-bezier(0, 0, 0.58, 1);
}

button.button-theme:not(:disabled):hover {
    background: #ff8220;
    transform: translate(0, 0.25em);
}

button.button-theme:not(:disabled):hover::before {
    transform: translate3d(0, 0.5em, -1em);
}

button.button-theme:not(:disabled):active {
    background: #ff8220;
    transform: translate(0em, 0.75em);
}

button.button-theme:not(:disabled):active::before {
    transform: translate3d(0, 0, -1em);
}

button.button-theme:disabled {
    background-color: #d8d8d8;
    color: #979797;
    cursor: default !important;
    transition: all 250ms ease-in-out;
}

button.button-theme:disabled::before {
    background-color: #8d8d8d;
    transition: all 250ms ease-in-out;
}

select.select-theme {
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    padding: 1em 2em;
    border-radius: 0.75em;
    border: 1px solid white;
}
